@model ChangepasswordModel
@{
    ViewData["Title"] = "Change Password";

}

    @section Styles{
    <link rel="stylesheet" href="~/css/auth/login-page.css">
    }


<section class="auth-section">
    @if (TempData["message"] != null)
    {
        <div class="successful-operation" style="color:darkred;background-color:red;border-color:darkred;padding:.5em;" >@TempData["message"]</div>            
    }
    <div class="auth-card">
        
        <div class="auth-header">
            <div class="brand-icon-wrapper">
                <i class="fa-solid fa-key"></i>
            </div>
            <h2>Change Password</h2>
            <p>Update your password to keep your account secure</p>
        </div>

        <form asp-action="ChangePassword" asp-controller="Auth" method="POST" class="auth-form">
            
            <div class="auth-group">
                <label for="current-password">Current Password</label>
                <div class="password-input-wrapper">
                    <input type="password" id="current-password" name="currentpassword" placeholder="Enter current password" required>
                </div>
                <span style="color:red;font-size:.9em;" asp-validation-for="currentpassword"></span>
            </div>

            <div class="auth-group">
                <label for="new-password">New Password</label>
                <div class="password-input-wrapper">
                    <input type="password" id="new-password" name="newpassword" placeholder="Enter new password" required>
                    <span style="color:red;font-size:.9em;" asp-validation-for="newpassword"></span>
                </div>
            </div>

            <div class="auth-group">
                <label for="confirm-new-password">Confirm New Password</label>
                <div class="password-input-wrapper">
                    <input type="password" id="confirm-new-password" name="confirmnewpassword" placeholder="Confirm new password" required>
                </div>
                <span style="color:red;font-size:.9em;" asp-validation-for="confirmnewpassword"></span>

            </div>

            <button type="submit" class="auth-submit-btn">Update Password</button>

            <div class="switch-auth-mode">
                <p><a href="/Home/Index">Home page </a></p>
            </div>

        </form>

    </div>
</section>

