@model LoginModel
@{
    ViewData["Title"] = "Log in";

}

    @section Styles{
    <link rel="stylesheet" href="~/css/auth/login-page.css">
    }
<section class="auth-section">
    <div class="auth-card">
        
        <div class="auth-header">
            <div class="brand-icon-wrapper">
                <i class="fa-solid fa-user"></i>
            </div>
            <h2>Welcome Back</h2>
            <p>Please enter your details to sign in</p>
        </div>

        <form asp-controller="Auth" asp-action="Login" method="POST" class="auth-form">
            <!--for errors
            <div asp-validation-summary="All" class="text-danger"></div>
            -->

            <div class="auth-group">
                <label asp-for="userName">User name:</label>
                <input  asp-for="userName" placeholder="Enter your username"  autocomplete="on" required>
                <span asp-validation-for="userName" style="color:red;font-size:.9em;"></span>
            </div>

            <div class="auth-group">
                <label asp-for="password">Password</label>
                <div class="password-input-wrapper">
                    <input type="password" asp-for="password" placeholder="Enter your password" required>

                    <button type="button" class="toggle-password-btn">
                     
                    </button>
                </div>
                    <span asp-validation-for="password" style="color:red;font-size:.9em;"></span>
            </div>

           

            <button type="submit" class="auth-submit-btn">Sign In</button>
            @{
                    if (ViewBag.message != null)
                    {
                    <div style="color:@ViewBag.color;">@ViewBag.message</div>

                    }
                    if(TempData["message"] != null)
                    {
                        <div style="color:green;">@TempData["message"]</div>
                    }
                }
            <div class="switch-auth-mode">
                <p>Don't have an account? <a href="/Auth/Signup">Sign Up</a></p>
            </div>
        </form>
    </div>

</section>
